[unix_http_server]
file={{ supervisor_sock_path }}
chmod=0700

[supervisord]
logfile={{ supervisor_log_dir }}/supervisord.log
pidfile=/var/run/supervisord.pid
childlogdir={{ supervisor_log_dir }}
loglevel={{ supervisor_loglevel }}
nodaemon=false
minfds={{ supervisor_minfds }}
minprocs={{ supervisor_minprocs }}

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl=unix://{{ supervisor_sock_path }}

[include]
files = {{ supervisor_conf_d_dir }}/*.conf
